  <div class="bg-image align-content-center"
    style="
      background-image:  url('../static/img/s-hw64ghWEA.jpg');
      img-fluid; 
      max-width: 100%; 
      height: 100%
    "
  >

{% extends "base.html" %}

{% block content %}



 <div class='row text-center align-content-center' id='greeting'>
  <h1>Welcome to The Giving Tomato</h1>
  <h1> The Giving Tomato is a free online platform for plant lovers to buy and sell plants, all proceeds benefiting charity. </h1>
</div>

<div class="d-grid gap-2 col-3 mx-auto">
  <a href='/cart/shop' class="btn btn-warning" type="button">Shop</a>
  <a href='/seller' class="btn btn-warning" type="button">Become a Seller</a>

</div>

{% endblock %}

</div> 
